[submodule "Spotify Clone - Video 84/Spotify-Clone-Frontend"]
	path = Spotify Clone - Video 84/Spotify-Clone-Frontend
	url = https://github.com/itsaivivek/Spotify-Clone-Frontend.git
[submodule "X(twitter) Clone - Video 101"]
	path = X(twitter) Clone - Video 101
	url = https://github.com/itsaivivek/X-Twitter-Clone.git
