*{
    margin: 0;
    padding: 0;
    background-color: green;
    margin: 30px 20px;
    font-size: 22px;
    line-height: 2;
    color: white;
}

div .text::after{
    content: "";
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: blink-dots 1s ease-out 0ms infinite;
    animation-play-state: running;
}
@keyframes blink-dots {
    0%{
        content: "";
    }
    33%{
        content: ".";
    }
    66%{
        content: "..";
    }
    100%{
        content: "...";
    }
    0%{
        content: "";
    }
    
}